body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f1f8ff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;


}


header {
    background-color: #87cefa;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

main {
    flex-grow: 1;
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.employee {
    border: 1px solid #b0c4de;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    color: #37388E;
    background-color: #fff;
}


footer {
    background-color: #87cefa;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

.card-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card-content {
    text-align: center;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.card-details {
    font-size: 16px;
    color: #999;
    margin-bottom: 5px;
}